.container {
  background: #f2f4fe;
  width: 100%;
  padding: 20px 50px;
  display: flex;
  color: #8a8f99;
  border-radius: 5px;
  flex-direction: column;
  
  .topbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    >div {
      display: flex;
      flex-direction: column;
  
      input {
        margin-top: 10px;
        background: white;
        color: #8a8f99;
        font-size: large;
        outline: none;
        outline: solid black 1px;
        border: none;
        padding: 3px 5px;
      }
    }
  }

  .searchBtn {
    padding: 0 50px;
    background: lightseagreen;
    outline: none;
    border-radius: 5px;
  }
}

.locales {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
  justify-content: space-between;
  .locale {
    padding: 5px 3px;
    width: 200px;
    
    label {
      padding-left: 10px;
    }
    
    input {
      color: white;
    }
  }
}